@model WebApp.Models.RoleViewModel

@{

    ViewData["ActivePage"] = "DeleteRole";
    Layout = "_LayoutRole";
}


<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">

                <div class="alert alert-danger">
                    <p>
                        <strong>Quer apagar o Perfil :</strong>
                    </p>
                    <p>
                        <strong class="text-yellow">@Model.Name ?</strong>
                    </p>
                </div>
             

            </div>

            <div class="form-group form-btns">
                <input class="btn btn-danger confirm-action" confirm-action-msg="Quer mesmo apagar o Perfil @Model.Name ?" type="submit" value="Apagar"/>
            </div>
        </form>
    </div>
</div>
<hr/>
<div>
    <a class="btn btn-secondary" asp-action="Roles">Voltar</a>
</div>
 