@model WebApp.Models.RoleViewModel

@{
    var pageId = "dlg-cont-user";
    if (!ViewData.TryGetValue("useLayout", out var useLayout) || useLayout.Equals(false))
    {
        Layout = null;
    }
    else
    {
        ViewData["ActivePage"] = "EditRole";
        Layout = "_LayoutRole";
        pageId = "dlg-cont-user-p";
    }
}

<div class="row">
    <div class="col-md-12">
        <form method="post" asp-controller="Admin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label>
                    <strong> @Html.DisplayNameFor(model => model.Name) *</strong>
                </label><br/>
              
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
                <br/>
            </div>
           
            
            <div class="form-group form-btns">
                <input type="submit" value="Guardar" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>
@*<hr/>
<div>
    <a class="btn btn-secondary" asp-action="Roles">Voltar</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}