@model WebApp.Models.UserViewModel
@using WebApp.Models.ApplicationModels

@{
    var pageId = "dlg-cont-user";
    if (!ViewData.TryGetValue("useLayout", out var useLayout) || useLayout.Equals(false))
    {
        Layout = null;
    }
    else
    {
        ViewData["ActivePage"] = "ViewUser";
        Layout = "_LayoutUser";
        pageId = "dlg-cont-user-p";
    }
}

<div class="row">
    <div class="col-md-12">
        <form method="post" asp-controller="Admin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />


            <div class="form-group">
                <label>
                    <strong> @Html.DisplayNameFor(model => model.UserName)</strong>
                </label><br />
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
                <br />
                <label>
                    <strong> @Html.DisplayNameFor(model => model.Email)</strong>
                </label><br />
                <input asp-for="Email" class="form-control" disabled />
                <span asp-validation-for="Email" class="text-danger"></span>
                <hr />
            </div>

            <br />
            <div class="form-group form-btns">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
@*<hr />
<div>
    <a class="btn btn-secondary" asp-action="Users">Voltar</a>
</div>*@
@section Scripts {
<script>
</script>
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
 }

}