@model WebApp.Models.ApplicationModels.Tecnologias

@*@{
    ViewData["Title"] = "Create";
}

<h1>Create a new Technology </h1>
<hr />*@
@{
    var pageId = "dlg-cont-role";
    if (!ViewData.TryGetValue("useLayout", out var useLayout) || useLayout.Equals(false))
    {
        Layout = null;
    }
    else
    {
        ViewData["ActivePage"] = "Create";
        Layout = "_LayoutRole";
        pageId = "dlg-cont-role-p";
    }
}
@*<h4>Tecnologias</h4>*@
<div class="row">
    <div class="col-12">
        <form asp-action="Create" asp-controller="Tecnologias" enctype="multipart/form-data">
            @*enctype="multipart/form-data"*@
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-12 col-md-6">
                    <label asp-for="Name" class="control-label"></label>@*Nome **@
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label asp-for="Sigla" class="control-label"></label>@*Sigla **@
                    <input asp-for="Sigla" class="form-control" />
                    <span asp-validation-for="Sigla" class="text-danger"></span>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label asp-for="Link" class="control-label">Link</label>
                    <input asp-for="Link" class="form-control" />
                    <span asp-validation-for="Link" class="text-danger"></span>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label asp-for="Linkdocs" class="control-label"></label>@*Link Documentação*@
                    <input asp-for="Linkdocs" class="form-control" />
                    <span asp-validation-for="Linkdocs" class="text-danger"></span>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label asp-for="Linklogs" class="control-label"></label>
                    <input asp-for="Linklogs" class="form-control" />
                    <span asp-validation-for="Linklogs" class="text-danger"></span>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label asp-for="Linkreports" class="control-label"></label>
                    <input asp-for="Linkreports" class="form-control" />
                    <span asp-validation-for="Linkreports" class="text-danger"></span>
                </div>
          
                <div class="form-group col-12 col-md-6">
                    <label asp-for="Descricao" class="control-label"></label>
                    <input asp-for="Descricao" class="form-control" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label asp-for="Maildev" class="control-label"></label>
                    <input asp-for="Maildev" class="form-control" />
                    <span asp-validation-for="Maildev" class="text-danger"></span>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label asp-for="TypeId" class="control-label"></label>
                    <select asp-for="TypeId" class="form-control" asp-items="ViewBag.TypeId"></select>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label asp-for="ImageFile" class="control-label"></label>@*>Imagem **@
                    <input asp-for="ImageFile" accept="image/" />@*class="form-control"*@
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>

                <div>
                    <p></p>
                </div>
                <div class="form-group col-12 col-md-6">
                    <input type="submit" value="Criar" class="btn btn-primary" /> 
                </div>
            </div>
            
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
