<html>
    <head>
    <link rel="stylesheet" href="~/css/Monitorizacaocss.css">
    </head>
<body>
   
<div class"paginatoda" id="todaapagina">

<div>
    <div id="all-cards" class="row">
        <div class="col-lg-3 col-6">
                <div class="stats-box" id="1BasesdedadosMongoCard">
                    <h5 class="mb-3">Bases de dados Mongodb</h5>
                <div class="icon"> <i class="fa-solid fa-2x fa-chart-line"></i></div>
                <h6>App up/Tot</h6>
                        <div id="1div"><span class="badge rounded-pill bg-success" id="1Mostrar">**/**</span></div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
                <div class="stats-box" id="2BasesdedadosSQLServerCard">
                    <h5 class="mb-3">Bases de dados SQL Server</h5>
                <div class="icon"> <i class="fa-solid fa-2x fa-chart-line"></i></div>
                        <h6>App up/Tot</h6>
                        <div id="2div"><span class="badge rounded-pill bg-success" id="2Mostrar">**/**</span></div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
                <div class="stats-box" id="3ServidoresAplicacionaisCard">
                    <h5 class="mb-3">Servidores Aplicacionais</h5>
                <div class="icon"> <i class="fa-solid fa-2x fa-chart-line"></i></div>
                        <h6>App up/Tot</h6>
                        <div id="3div"><span class="badge rounded-pill bg-success" id="3Mostrar">**/**</span></div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
                <div class="stats-box" id="4Aplicacoescard">
                    <h5 class="mb-3">Aplicações</h5>
                <div class="icon"> <i class="fa-solid fa-2x fa-chart-line"></i></div>
                        <h6>App up/Tot</h6>
                        <div><span class="badge rounded-pill bg-success" id="4Mostrar">**/**</span></div>
            </div>
        </div>

    </div>
</div>
<hr />
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
                <button class="nav-link active" id="todos-tab" data-bs-toggle="tab" data-bs-target="#todos" type="button" role="tab" aria-controls="todos" aria-selected="true" onclick="OcultarElemento(this)  ">Vista geral</button>@*ResetarSeparadoresAtivos()*@
      </li>
            <li class="nav-item" role="presentation">
                  <input class="form-control " id="search" type="text" placeholder="Search" aria-label="Search">
            </li>
            <li class="nav-item" role="presentation">
                
            <button class="btn  " type="submit" id="light-mode-on" onclick="AlternadorDeModo()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-toggle-off" viewBox="0 0 16 16">
                    <path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z" />
                </svg>
            </button>
            <button class="btn cdarkativo " type="submit" id="dark-mode-1" onclick="AlternadorDeModo()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-toggle-on" viewBox="0 0 16 16">
                    <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z" />
                </svg>
            </button>
            </li>
</ul>
<ul class="nav nav-tabs" role="tablist" id="separadorplacer">
            
</ul>

<div class="tab-content" id="pageplacer">
    <div id="todos" class="container tab-pane fade show active">
        <br>
    </div>
</div>
</div>
    <script src="~/js/Monitorizacaojs.js"></script>
    </body>
</html>
