@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>A sua privacidade é muito importante para nós, e neste sentido comprometemo-nos a tomar todas as medidas possíveis para manter a confidencialidade e a segurança dos seus dados pessoais.</p>
<p>Todas as suas informações pessoais recolhidas, serão usadas para o ajudar a tornar a sua visita no nosso website o mais produtiva e agradável possível.</p>
<p>Poderá navegar no website sem que seja necessário disponibilizar qualquer informação pessoal, permanecendo no anonimato durante a sua visita, no entanto, e tal como outros websites, e com o objetivo de prestar um serviço mais personalizado, o nosso website utiliza “cookies” para recolher e guardar informação que não seja de caráter pessoal e que se destina a otimizar a navegação no website. Você detém o poder de desligar os seus cookies, nas opções do seu browser, ou efetuando alterações nas ferramentas de programas antivírus. No entanto, isso poderá alterar a forma como interage com o nosso website, ou outros websites.</p>
<p>Poderá ser necessário o fornecimento de alguns dados pessoais quando solicita um serviço, pede informações ou troca correspondência connosco. Os dados pessoais são recolhidos quando tal seja consentido pelo respetivo titular, e a disponibilização desses mesmos dados pessoais pelo titular implica o conhecimento e aceitação das condições constantes desta Política de Privacidade, pelo que, ao disponibilizar os seus dados pessoais, o Utilizador está a autorizar a recolha, uso e divulgação dos mesmos de acordo com as regras definidas nos instrumentos de recolha aplicáveis. Os dados pessoais recolhidos no nosso website destinam-se a informar o Utilizador sobre conteúdos, serviços e produtos, bem como à gestão de atividades necessárias para a prestação dos nossos serviços.</p>
<p>O Utilizador poderá retificar, eliminar, atualizar e/ou modificar os seus dados a qualquer momento através do endereço de correio eletrónico <a href="mailto:apoiosocial@exercito.pt">apoiosocial@exercito.pt</a>&nbsp;solicitando essa retificação, atualização e/ou modificação dos seus dados, a qual lhe será comunicada por correio eletrónico assim que seja efetuada.</p>
<p>O uso do nosso website pressupõe a aceitação desta Política de Privacidade. Reservamo-nos o direito de alterar este acordo sem aviso prévio. Deste modo, recomendamos que consulte a nossa Política de Privacidade com regularidade de forma a estar sempre atualizado.
</p>

